form {
    font-family: sans-serif;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5%;
    margin-top: 3%;
}

label {
    font-family: sans-serif;
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

button[type="submit"] {
    font-family: sans-serif;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}

button[type="submit"]:hover {
    font-family: sans-serif;
    background-color: dodgerblue;
}

.message {
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
