body {
    font-family: sans-serif;
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    font-family: sans-serif;
    margin: 0;
}
p {
    font-family: sans-serif;
    margin: 5px 0;
}
.top-bar {
    background-color: skyblue;
    padding: 0 40px;
}
.main {
    font-family: sans-serif;
    background-color: #F6F6EF;
    padding: 10px 15px;
}
.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}