body{
    background-color: grey;
    font-family: sans-serif;
}
html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}
.content {
    font-family: sans-serif;
    min-height: 100%;
}
.content-inside {
    font-family: sans-serif;
    padding: 20px 20px 50px;
}
.align{
    max-width: 95%;
    margin-left: 30px;
}

.single-item img{
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-position: center;
}

.header {
    font-family: sans-serif;
    background-color: #282634;
    padding: 20px 10px;
    z-index: 1;
    top: 0;
}

.header li{
    font-family: sans-serif;
    list-style-type: none;
    float: left;
    margin: 10px 10px;

}
.header a {
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 999px;
}
.header a.unstyled:hover {
    background-color:transparent;
    color:#000;
    text-decoration:transparent;
}


.header a:hover {
    background-color: #ddd;
    color: grey;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right1 {
    float: right;
    border-right: 20px;
}

.header-right2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 800px;
}

/* show the second ul element when the screen size is above a certain width */
@media (max-width: 800px) {
    .header-right1 {
        width: 45%;
        margin-right: 10px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    .header-right2 li{
        float: right;
    }

    ul {
        flex-direction: column;

    }

    .logo {
        width: 150px;

    }

    .header-right2 li {
        margin: 10px 0;

        align-content: center;
    }
    
    .header{
        height: 400px;
    }

    .header-right2{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.text_container{
    position:relative;
    top:50px;
}
.text_container1{
    vertical-align: top;
    text-align: justify;
    color: #282634;
}

.text_container2 {
    vertical-align: top;
    text-align: center;
    color: #282634;
}


.mytitle{
    font-family: sans-serif;
    transform: translateY(-50%);
    display: block;
    position: relative;
    top: 25%;
    left:10%;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.6s;
    /*font-family: aharoni, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";*/
}

.single-item{
    position: relative;
    text-align: center;
    color: white;
}

.mytitle{
    transform: translateY(-50%);
    position: absolute;
    top: 25%;
    left: 10%;
}

.mytitle i {
    font-family: sans-serif;
    font-size: 50px;
    font-style: normal;
    /*font-family: montserrat-hairline;*/
    font-weight: 400;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.btn-trailer{
    transform: translateY(-50%);
    position: absolute;
    top: 60%;
    left: 10%;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.25s ease;
}
.btn-trailer a:hover{
    color: orange;
}

.movie-list{
    min-height: 85vh;
    margin: auto;
    width: 90%;
    padding: 10px;
    display: inline-block;
    place-items:center;
    margin-left: 80px;
}

h1 {
    font-family: sans-serif;
    margin: rem-calc(100) 0 0;
}

.movie-img-container img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grey; /* IE6-9 */
    -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    height: 325px;
    object-fit: cover;
}

.movie-img-container {
    display: inline-block;
    position: relative;
    float: left;
    height: 325px;
    width: 220px;
    overflow: hidden;
    margin: 0px 30px;
    border-radius: 10px;
}

.spbutton {
    display: none;
    color: white;
    background-color: grey;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 999px;
}

.movie-img-container:hover .spbutton {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: gold;
}

.movie-img-container:hover img {
    filter: none;
    -webkit-filter: grayscale(0%);
    padding: 5px;
}

h3{
    color: white;
    font-family: cursive;
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
.button-17 {
    align-items: center;
    background-color: dodgerblue;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;}

.button-18 {
    align-items: center;
    background-color: darkgrey;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover, .button-18:focus {
    background-color: dodgerblue;
    color: #ffffff;
}

.button-18:active {
    background: blue;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.button-19 {
    align-items: center;
    background-color: darkgrey;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-19:hover, .button-18:focus {
    background-color: dodgerblue;
    color: #ffffff;
}

.button-19:active {
    background: blue;
    color: rgb(255, 255, 255, .7);
}

.button-19:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.button-20:active {
    background: blue;
    color: rgb(255, 255, 255, .7);
}

.button-20:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.button-20:hover, .button-18:focus {
    background-color: dodgerblue;
    color: #ffffff;
}

.button-20 {
    align-items: center;
    background-color: #282634;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#types, #post1, #post2, #post3, #post4
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#types td, #types th, #post1 td, #post1 th ,#post2 td, #post2 th ,#post3 td, #post3 th ,#post4 td, #post4 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#types tr, #post1 tr ,#post2 tr,#post3 tr,#post4 tr{background-color: #f2f2f2;}

#types tr:hover {background-color: #ddd;}

#types th, #post1 th, #post2 th, #post3 th, #post4 th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #282634;
    color: white;
}

.zatw {
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.plan {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.plan1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.boxed {
    font-family: sans-serif;
    background-color: #dcdcdc;
    width: 70%;
    text-align: center;
    border: 15px solid #a63549;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #dcdcdc;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-film {
    width: 80%;
    margin: 5% auto;
    background-color: #dcdcdc;
    padding: 20px;
    border: 1px solid #888;
    height: 80%;
    text-align: center;
}

.trailer {
    width: 50%;
    height: 400px;
    margin: 0 auto;
}

.boxed1 {
    width: 40%;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    float: right;
    background-color: #dcdcdc;
    border: 5px solid #a63549;
}


@media only screen and (max-width: 1500px) {
    .modal-content-film {
        width: 70%;
        margin: 5% auto;
        height: 900px;
    }

    .trailer {
        width: 100%;
        height: 400px;
        align-content: center;
    }

    .boxed1 {
        width: 99%;
        text-align: center;
        padding: 0px;
        margin-right: auto;
        margin-left: auto;
        align-content: center;
    }

    .modal{
        height: 110%;
    }
}


button {
    margin: 0 15px 30px;
}

.weekday {
    align-items: center;
    background-color: darkgrey;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.default-selected {
    align-items: center;
    background-color: dodgerblue;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.weekday.selected {
    align-items: center;
    background-color: dodgerblue;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

@media only screen and (max-width: 1200px){
    .sala {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        float: top;
    }

    .zatw {
        float: bottom;
        align-content: center;
        width: 400px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 40px;
    }

    .text_container1 {
        margin-right: auto;
        margin-left: auto;
        vertical-align: center;
    }

    .tickets {
        margin-right: auto;
        margin-left: auto;
        align-content: center;
        width: 300px;
        text-align: center;
        margin-top: 0px;
    }
}

.tickets {
    float: right;
    margin-right: 20%;
    margin-top: 50px;
}
